#nav {
    position: fixed;
    /*sticks it to the top of the screen*/
    z-index: 90;
    padding: 1vw;
}

.navButton {
    background-color: #42e4a5;
    width: 4vw;
    height: 4vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 1vw 0;
    border: none;
    display: flex;
    padding: .5vw;
    cursor: pointer;
    position: relative;
    background-color: #42e4a5;
    box-shadow: 0.5vw #39bc89;
    border-radius: 1vw;
}

.navButton img {
    width: 3vw;
}

.button, .button1 {
    justify-content: center;
    align-items: center;
    margin: 0 auto .5vw auto;
    border: none;
    display: flex;
    padding: 1.5vw;
    font-size: 2vw;
    cursor: pointer;
    position: relative;
    background-color: #42e4a5;
    box-shadow: 0 .5vw #39bc89;
    border-radius: 1vw;
}

.button {
    width: 10vw;
}

.button1 {
	width: 40vw;
}

h2 {
    margin-left: 40vw;
}

table {
  overflow: hidden;
  border: 3px solid black;
  border-collapse: collapse;
  width: 100vw;
}

td, th {
  padding: 10px;
  position: relative;
  outline: 0;
  border: 3px solid black;
  height: 4vw;
  text-align: center;
}

body:not(.nohover) tbody tr:hover {
  background-color: #ffa;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #ffa;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

/* Focus stuff for mobile */
td:focus::before,
tbody th:focus::before {
  background-color: lightblue;
  content: '';  
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;  
  width: 10000px;
  z-index: -1;
}
